{% extends 'quiz/base.html' %}
{% block title %}Квест: {{ quest.title }}{% endblock %}

{% block content %}
<h2 class="mb-4">{{ quest.title }}</h2>
<a href="{% url 'create_quiz' quest.id %}" class="btn btn-primary mb-3">Створити вікторину</a>
<div class="row">
    {% for quiz in quizzes %}
        <div class="col-md-4 mb-3">
            <div class="card p-3">
                <h5 class="card-title">{{ quiz.title }}</h5>
                <a href="{% url 'quiz_detail' quiz.id %}" class="btn btn-success">Перейти</a>
            </div>
        </div>
    {% empty %}
        <p>Вікторин немає</p>
    {% endfor %}
</div>
{% endblock %}
